#signUpForm{
    margin: auto;
    max-width: 450px;
    /* padding: 30px; */
    /* border: 2px solid red; */
    /* background-color:rgb(128, 128, 128); */
    background-color: wheat;
}
.form-content{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    /* background: white; */
    /* border: 2px solid#0171d3; */
    margin: auto;
    margin-left: 10px;
}
header{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: black;
    margin-right: 50px;
}
form {
    margin-top: 30px;
}
form .field{
    height: 50px;
    width: 80%;
    margin-top: 20px;
    /* border: #0171d3; */
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    
    border: 1px solid #CACACA;
    padding: 0 15px;
}
/* .field button{
    background-color: aqua;
    border: #0171d3;
    margin-left: 60px;
    color: red;
} */
.form-link{
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}
.login-link input{
    position: relative;
    margin-top: 20px;
    justify-content: center;
    margin-left: 60px;
    padding: 17px 100px;
    border-radius: 10px;
    border: rebeccapurple;
    font-size: large;
    color: white;
    background-color: rgb(0, 125, 109);
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
}
form a{
    text-decoration: none;
    color: blue;
}

form a:hover{
    text-decoration: underline;
}