* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#add1 {
    /* border: 1px solid green; */
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* justify-content: center; */
}

#add1>div:nth-child(1),
#add1>div:nth-child(3) {
    /* border: 1px solid red; */
    width: 150px;
    display: flex;
    height: fit-content;
}

#add1 img {
    width: 100%;
    height: 100px;
}


#add1>div:nth-child(2) {
    background-image: url("https://media.istockphoto.com/id/1424832797/vector/yachts-sea-oil-painting.jpg?s=612x612&w=0&k=20&c=gNTu8Y4jx4ZBJyo2u_Sxl6d_Gyo0daVbMzkIl7qODsQ=");
    background-repeat: no-repeat;
    background-size: cover;
    width: 16%;
    color: white;
    height: 101px;
}

#add1>div:nth-child(2)>div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    height: 80%;
    align-items: center;
}

.verticalTxt {
    display: flex;
}

.verticalTxt>p:nth-child(1) {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 10px;
}

#add1>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>h1 {
    font-size: 50px;
}

#add1>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {
    border-left: 1px solid white;
    height: 50px;
    padding: 0px 0px 60px 10px;
}

#add1>div:nth-child(2)>div:nth-child(2) {
    text-decoration: underline;
    text-align: center;
}

#add1>div:nth-child(4) {
    width: 40%;
    background-image: url("https://cdn.pixabay.com/photo/2022/03/04/08/50/floral-pattern-7046878__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 101px;
}

#add1>div:nth-child(4)>div:nth-child(1) {
    display: flex;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

#add1>div:nth-child(4)>div:nth-child(1) h2 {
    color: #f1c500;
    letter-spacing: 5px;
}

#add1>div:nth-child(4)>div:nth-child(1) h1 {
    color: rgb(255, 252, 205);
    letter-spacing: 2px;
}

#add1>div:nth-child(4)>div:nth-child(1)>div:nth-child(2) {
    text-align: center;
    width: 23%;
    color: white;
}

#add1>div:nth-child(4)>div:nth-child(1)>div:nth-child(2)>p {
    font-size: 10px;
    margin-top: 10px;
}

#add1>div:nth-child(4)>div:nth-child(2) {
    text-decoration: underline;
    text-align: center;
    color: white;
}

#add1>div:nth-child(5)>div:nth-child(1) {
    display: flex;
    align-items: center;
}

#add1>div:nth-child(5) {
    background-image: url("https://cdn.pixabay.com/photo/2013/07/25/01/31/forest-166733__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 101px;
    width: 25%;
    color: white;
    text-align: center;
}

#add1>div:nth-child(5)>div:nth-child(1) {
    display: flex;
    justify-content: center;
}

#add1>div:nth-child(5)>div:nth-child(1)>p:nth-child(1),
#add1>div:nth-child(5)>div:nth-child(1)>p:nth-child(2) {
    font-size: 50px;
}

#add1>div:nth-child(5)>div:nth-child(1)>p:nth-child(3) {
    font-size: 30px;
}

#add1>div:nth-child(5)>p {
    background-color: rgb(70, 71, 5);
}

#add1>div:nth-child(5)>div:nth-child(3) {
    text-decoration: underline;
    margin-top: 6px;
    text-align: center;
    color: white;
}

#grand {
    /* border: 1px solid black; */
    width: 95%;
    display: flex;
    margin: auto;
    gap: 10px;
    margin-top: 20px;
}

#parent1 {
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-start;
    margin: auto;
    justify-content: space-between;
    width: 70%;
}


#child1 {
    /* border: 1px solid green; */
    /* margin: auto; */
    width: 50%;
}

#child1>img {
    width: 100%;
    height: 100%;
    /* margin: auto; */
    /* border: 1px solid red; */
    object-fit: cover;
}

#child2 {
    /* border: 1px solid purple; */
    width: 40%;
    padding: 5px;
}

#child2>p:nth-child(4) {
    font-weight: bold;
    font-size: 18px;
}

#child2>p:nth-child(4)>span {
    font-weight: lighter;
    font-size: 15px;
}

#color_boxes {
    display: flex;
    width: 85%;
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-bottom: 10px;
}

#color_boxes>a {
    width: 35px;
    margin: auto;
    height: 35px;
    border: 1px solid rgb(70, 68, 68);
    cursor: pointer;
}

#color_boxes>a:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#color_boxes>a>img {
    width: 100%;
    height: 100%;
}

#brand_name {
    color: rgb(114, 113, 113);
    font-size: 20px;
    margin-top: 1%;
}

#product_name {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1% 0%;
}

#hrLine {
    margin: 15px 3px;
}

#child2>div:nth-child(6) {
    display: flex;
    justify-content: space-between;
}

#child2>div:nth-child(6)>p {
    font-weight: bold;
    font-size: 18px;
}

#child2>div:nth-child(6)>a,
#child2>p:nth-child(9)>a {
    color: rgb(46, 125, 228);
}

#child2>div:nth-child(7) {
    /* border: 1px solid green; */
    width: 95%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#child2>div:nth-child(7)>div {
    border: 1px solid rgb(139, 139, 139);
    padding: 10px;
    width: 85px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#child2>div:nth-child(7)>div:hover {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(49, 198, 224, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(49, 198, 224, 1);
    box-shadow: 0px 0px 5px 2px rgba(49, 198, 224, 1);
}

#child2>p:nth-child(9) {
    width: 95%;
    margin: auto;
    font-size: 16px;
    letter-spacing: 0.4px;
}

#parent2 {
    /* border: 1px solid blue; */
    padding: 15px;
    width: 28%;
}

#parent2>div {
    border: 1px solid rgb(122, 122, 122);
    /* padding: 15px; */
}

#parent2>div>div:nth-child(1) {
    display: flex;
    align-items: center;
}

#parent2>div>div:nth-child(1)>p:nth-child(1) {
    margin-left: 15px;
    color: red;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#parent2>div>p:nth-child(2) {
    color: green;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
}

.check_box {
    /* border: 1px solid red; */
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.check_box>div:nth-child(1) {
    width: 15%;
    display: flex;
    justify-content: center;
}

.check_box>div:nth-child(2) {
    width: 85%;
    /* display: flex; */
    /* justify-content: center; */
}

.check_box p {
    font-size: 17px;
}

.boldtxt {
    font-weight: bold;
    font-size: 17px;
}

.greyTxt {
    color: rgb(124, 123, 123);
}

.fa-truck,
.fa-circle-exclamation {
    color: rgb(22, 112, 196);
}

.fa-bell {
    color: rgb(177, 8, 8);
}

.fa-snowplow {
    color: rgb(168, 139, 10);
}

#mainBox {
    /* border: 1px solid black; */
    margin-top: 10px;
    background-color: rgb(233, 233, 233);
    padding: 10px 20px;
    font-size: large;
}

#mainBox>div:nth-child(2) {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#quantity {
    text-align: center;
    width: 20%;
    padding: 10px;
    font-weight: bold;
    border: 1px solid rgb(148, 146, 146);
}

#addToCart {
    text-align: center;
    width: 50%;
    padding: 10px;
    background-color: rgb(8, 73, 138);
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

#goToCart{
    text-align: center;
    width: 50%;
    padding: 10px;
    background-color: rgb(8, 73, 138);
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

#goToCart:hover {
    background-color: rgb(8, 84, 160);

}

#addToCart:hover {
    background-color: rgb(8, 84, 160);

}

#descriptionBox {
    /* border: 1px solid black; */
    width: 93%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#descriptionBox>div {
    /* border: 1px solid red; */
    padding: 10px;
}

#descriptionBox>div>p {
    font-size: 17px;
}

#descriptionBox>div>p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

#descriptionBox ul {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 17px;
}

#descriptionBox>div:nth-child(2) {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(158, 158, 158, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(158, 158, 158, 1);
    box-shadow: 0px 0px 5px 2px rgba(158, 158, 158, 1);
}

#descriptionBox>div:nth-child(2)>div>p {
    font-weight: bold;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 28px;
}

#descriptionBox>div:nth-child(2)>div>p>span {
    font-weight: lighter;
    color: rgb(112, 110, 110);
}

#descriptionBox #lastBox {
    /* border: 1px solid blue; */
    margin: 20px 0px;
    /* background-color: #f0f0f0; */
    line-height: 25px;
    border-radius: 5px;
    padding: 20px;
}

#dhr {
    margin: 2%;
}

#descriptionBox #lastBox>span {
    font-weight: bold;
}

#descriptionBox #lastBox>a {
    color: rgb(5, 116, 207);
}

#descriptionBox .fa-truck {
    color: black;
}