* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#add1 {
  /* border: 1px solid green; */
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* justify-content: center; */
}

#add1 > div:nth-child(1),
#add1 > div:nth-child(3) {
  /* border: 1px solid red; */
  width: 150px;
  display: flex;
  height: fit-content;
}

#add1 img {
  width: 100%;
  height: 100px;
}

#add1 > div:nth-child(2) {
  background-image: url("https://media.istockphoto.com/id/1424832797/vector/yachts-sea-oil-painting.jpg?s=612x612&w=0&k=20&c=gNTu8Y4jx4ZBJyo2u_Sxl6d_Gyo0daVbMzkIl7qODsQ=");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16%;
  color: white;
  height: 101px;
}

#add1 > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  justify-content: space-around;
  height: 80%;
  align-items: center;
}

.verticalTxt {
  display: flex;
}

.verticalTxt > p:nth-child(1) {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 10px;
}

#add1 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > h1 {
  font-size: 50px;
}

#add1 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  border-left: 1px solid white;
  height: 50px;
  padding: 0px 0px 60px 10px;
}

#add1 > div:nth-child(2) > div:nth-child(2) {
  text-decoration: underline;
  text-align: center;
}

#add1 > div:nth-child(4) {
  width: 40%;
  background-image: url("https://cdn.pixabay.com/photo/2022/03/04/08/50/floral-pattern-7046878__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 101px;
}

#add1 > div:nth-child(4) > div:nth-child(1) {
  display: flex;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

#add1 > div:nth-child(4) > div:nth-child(1) h2 {
  color: #f1c500;
  letter-spacing: 5px;
}

#add1 > div:nth-child(4) > div:nth-child(1) h1 {
  color: rgb(255, 252, 205);
  letter-spacing: 2px;
}

#add1 > div:nth-child(4) > div:nth-child(1) > div:nth-child(2) {
  text-align: center;
  width: 23%;
  color: white;
}

#add1 > div:nth-child(4) > div:nth-child(1) > div:nth-child(2) > p {
  font-size: 10px;
  margin-top: 10px;
}

#add1 > div:nth-child(4) > div:nth-child(2) {
  text-decoration: underline;
  text-align: center;
  color: white;
}

#add1 > div:nth-child(5) > div:nth-child(1) {
  display: flex;
  align-items: center;
}

#add1 > div:nth-child(5) {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/25/01/31/forest-166733__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 101px;
  width: 25%;
  color: white;
  text-align: center;
}

#add1 > div:nth-child(5) > div:nth-child(1) {
  display: flex;
  justify-content: center;
}

#add1 > div:nth-child(5) > div:nth-child(1) > p:nth-child(1),
#add1 > div:nth-child(5) > div:nth-child(1) > p:nth-child(2) {
  font-size: 50px;
}

#add1 > div:nth-child(5) > div:nth-child(1) > p:nth-child(3) {
  font-size: 30px;
}

#add1 > div:nth-child(5) > p {
  background-color: rgb(70, 71, 5);
}

#add1 > div:nth-child(5) > div:nth-child(3) {
  text-decoration: underline;
  margin-top: 6px;
  text-align: center;
  color: white;
}

/* ********************************************************************* */
#individualText {
  text-align: center;
  margin: 20px;
}

#individualText > a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(61, 59, 59);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#head {
  text-align: center;
  /* border-bottom: 1px solid rgb(187, 185, 185); */
  padding-bottom: 30px;
}

#head > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

hr {
  width: 95%;
  margin: auto;
}

/* ************************************************************* */
#main {
  /* border: 1px solid black; */
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-around;
  /* height: 300px; */
  margin-top: 40px;
}

#filterBox {
  padding: 0px 10px;
  width: 20%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid red; */
  margin-bottom: 50px;
  /* font-weight: bold; */
}

#filterBox > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

#productBox {
  width: 77%;
  /* border: 1px solid green; */
}

#centerFilterBox_Home {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  /* font-size: large; */
  border: 1px solid rgb(226, 226, 226);
  padding: 10px;
}

#centerFilterBox_Home > a:nth-child(1) {
  font-weight: bold;
  color: rgb(129, 129, 129);
}

#centerFilterBox_Home > a {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 36px;
  text-decoration: none;
  color: black;
}

#centerFilterBox_Home > a:hover {
  text-decoration: underline;
}

#gender {
  padding: 10px;
  line-height: 25px;
}

#gender > div {
  height: 200px;
  overflow-y: scroll;
}

.filterHr {
  width: 100%;
}

summary {
  font-weight: bold;
}

#color {
  padding: 10px;
  line-height: 25px;
}

#color > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#color > div > div > a > img {
  border: 1px solid black;
}

#color > div > div > a {
  text-decoration: none;
  line-height: 30px;
  color: black;
  font-size: 17px;
}

#color > div > div > a:hover {
  text-decoration: underline;
}

#size {
  padding: 10px;
  line-height: 25px;
}

#size > div {
  height: 200px;
  overflow-y: scroll;
}

#brand {
  padding: 10px;
  line-height: 25px;
}

#brand > div {
  height: 200px;
  overflow-y: scroll;
}

#lastBox {
  /* border: 1px solid blue; */
  margin: 20px 0px;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
}

#lastBox > span {
  font-weight: bold;
}

/* ************************************************** */
#productBox_head {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

#productBox_head > select {
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  background-color: #f0f0f0;
  color: #292929;
}


/* /////////////////////////////////////////////////////// */
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#heading{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  padding: 3% 0%;
}
#master_content{
background-color:#f2f2f2;
}
#heading>h1{
  text-align: center;
  background-color:white;
  font-family: 'Poppins', sans-serif;
  font-size:40px;
}
#master_content{
  display:flex;
  margin-top: 0.5%;
}
#categories{
  width:20%;
  margin-top: 2%;
}
#filter_item{
  width:75%;
  margin-top: 2%;
}
#catg{
font-size: 16px;
margin:2%;
padding-top: 2%;
}
#categories_item{
  width:80%;
  height:auto;
  margin-left: 15%;
  background-color: white;
}
.drop{
  line-height: 35px;
  background-color: white;
}
summary, li{
  background-color: white;
  list-style: none;
  padding-left: 3%;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
uL,li {
  list-style: none;
}
li{
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color:grey;
  padding-left: 6%;
}
#item>div>h3{
  background-color: white;
  padding:4% 3%;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  cursor: pointer;
  margin-left: 1.5%;
}
#item{
  margin:auto;
  margin-right: -3%;
  margin-top: 2%;
  margin-bottom: 3%;
  display:grid;
  grid-template-columns: repeat(4,22.8%);
  grid-template-rows: repeat(10,auto);
  gap:2%;
}
#item>div{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  display:flex;
  flex-direction: column;
 align-items:flex-start;
 justify-content: flex-end;
}
#item>div>img{
  width:100%;
}
#categories_item>h3{
  background-color: white;
  padding-left: 2%;
  padding-top: 2%;
}
#item>div>p,#item>div>h6{
  background-color: white;
  margin-left: 4%;
  font-family: 'Poppins', sans-serif;
}
.filtr{
  background-color: white;
  margin-left: 4%;
  font-family: 'Poppins', sans-serif;
}
.logo>p{
  background-color: white;
  margin-left: 1%;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
#item>div>h6{
  color:grey;
}
#item{
  margin-bottom: 4%;
}
#item>div>p{
  font-size: 15px;
}
#main_content{
  margin-bottom: 4%;
  background-color:#f2f2f2;
}
.logo{
  display:flex;
  align-items: center;
  background-color: white;
  margin-top: 2%;
}
.logo>img{
  width:15%;
}
#head2{
  margin-left:-4%;
  padding-left:2%;
}
#filter{
  width:100%;
  height:200px;
  background-color: white;
  padding-bottom: 3%;
}
#days{
  display:flex;
  padding-top: 4%;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
}
#days>p{
  color:grey;
}
button{
  background-color: white;
  margin-left: 2%;
  padding: 5px 10px;
  border-radius: 5px;
  border:0.5px solid grey;
}
button:hover{
  cursor: pointer;
}
#filter1{
  display:flex;
  padding-top: 4%;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
}
#filter1>p{
  color:grey;
}
select{
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
  padding:5px 10px;
}
input{
margin-left: 2%;
margin-right: 2%;
background-color: white;
}
label{
background-color: white;
}
#min, #max{
width:7%;
padding:5px 10px;
}
#ok:hover{
background-color: grey;
color:white;
}
#sort{
display:flex;
padding-top: 4%;
justify-content: flex-start;
background-color: white;
align-items: center;
}
#sort>p{
color:grey;
}
#sort>p+button{
color:blue;
border:0.5px solid blue;
}
button:hover{
background-color: grey;
color:white;
}
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#add1 {
/* border: 1px solid green; */
width: 95%;
margin: auto;
display: flex;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* justify-content: center; */
}

#add1>div:nth-child(1),
#add1>div:nth-child(3) {
/* border: 1px solid red; */
width: 150px;
display: flex;
height: fit-content;
}

#add1 img {
width: 100%;
height: 100px;
}


#add1>div:nth-child(2) {
background-image: url("https://media.istockphoto.com/id/1424832797/vector/yachts-sea-oil-painting.jpg?s=612x612&w=0&k=20&c=gNTu8Y4jx4ZBJyo2u_Sxl6d_Gyo0daVbMzkIl7qODsQ=");
background-repeat: no-repeat;
background-size: cover;
width: 16%;
color: white;
height: 101px;
}

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#add1 {
/* border: 1px solid green; */
width: 95%;
margin: auto;
display: flex;
align-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* justify-content: center; */
}

#add1>div:nth-child(1),
#add1>div:nth-child(3) {
/* border: 1px solid red; */
width: 150px;
display: flex;
height: fit-content;
}

#add1 img {
width: 100%;
height: 100px;
}


#add1>div:nth-child(2) {
background-image: url("https://media.istockphoto.com/id/1424832797/vector/yachts-sea-oil-painting.jpg?s=612x612&w=0&k=20&c=gNTu8Y4jx4ZBJyo2u_Sxl6d_Gyo0daVbMzkIl7qODsQ=");
background-repeat: no-repeat;
background-size: cover;
width: 16%;
color: white;
height: 101px;
}

#add1>div:nth-child(2)>div:nth-child(1) {
display: flex;
justify-content: space-around;
height: 80%;
align-items: center;
}

.verticalTxt {
display: flex;
}

.verticalTxt>p:nth-child(1) {
writing-mode: vertical-lr;
transform: rotate(180deg);
font-size: 10px;
}

#add1>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>h1 {
font-size: 50px;
}

#add1>div:nth-child(2)>div:nth-child(1)>div:nth-child(2) {
border-left: 1px solid white;
height: 50px;
padding: 0px 0px 60px 10px;
}

#add1>div:nth-child(2)>div:nth-child(2) {
text-decoration: underline;
text-align: center;
}

#add1>div:nth-child(4) {
width: 40%;
background-image: url("https://cdn.pixabay.com/photo/2022/03/04/08/50/floral-pattern-7046878__340.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#add1>div:nth-child(4)>div:nth-child(1) {
  display: flex;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

#add1>div:nth-child(4)>div:nth-child(1) h2 {
  color: #f1c500;
  letter-spacing: 5px;
}

#add1>div:nth-child(4)>div:nth-child(1) h1 {
  color: rgb(255, 252, 205);
  letter-spacing: 2px;
}

#add1>div:nth-child(4)>div:nth-child(1)>div:nth-child(2) {
  text-align: center;
  width: 23%;
  color: white;
}

#add1>div:nth-child(4)>div:nth-child(1)>div:nth-child(2)>p {
  font-size: 10px;
  margin-top: 10px;
}

#add1>div:nth-child(4)>div:nth-child(2) {
  text-decoration: underline;
  text-align: center;
  color: white;
}

#add1>div:nth-child(5)>div:nth-child(1) {
  display: flex;
  align-items: center;
}

#add1>div:nth-child(5) {
background-image: url("https://cdn.pixabay.com/photo/2013/07/25/01/31/forest-166733__340.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 101px;
width: 25%;
color: white;
text-align: center;
}

#add1>div:nth-child(5)>div:nth-child(1) {
display: flex;
justify-content: center;
}

#add1>div:nth-child(5)>div:nth-child(1)>p:nth-child(1),
#add1>div:nth-child(5)>div:nth-child(1)>p:nth-child(2) {
font-size: 50px;
}

#add1>div:nth-child(5)>div:nth-child(1)>p:nth-child(3) {
font-size: 30px;
}

#add1>div:nth-child(5)>p {
background-color: rgb(70, 71, 5);
}

#add1>div:nth-child(5)>div:nth-child(3) {
text-decoration: underline;
margin-top: 6px;
text-align: center;
color: white;
}
