* {
    padding: 0;
    margin: 0;
    font-family: serif;
}

h1 {
    text-align: center;
    margin: 30px 0px;
}

#uperNav {
    background-color: #010156;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;

}

.uperDivText {
    color: white;
    font-size: 13px;
}

#right {
    margin-right: 10%;
}

#left {
    margin-left: 10%;
}

#midNav {
    display: flex;
    background-color: dodgerblue;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 65px;

}

#img {
    width: 10%;
}

#imgMain {
    width: 100%;
    cursor: pointer;
}

#Inputsearch {
    width: 90%;
    border: none;
    outline: none;

}

.midpartOfmidNav {
    background-color: white;
    height: 40px;
    border: 0.5px solid;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.cartLogo {
    width: 18px;
    margin-right: 5px;
}

.cartLogo2 {
    width: 18px;
    margin-right: 8px;
}

img {
    width: 100%;
}

#myAccOrder,
#cart {
    cursor: pointer;
}

#tru {
    width: 10px;
    border: 1px solid white;
    height: 10px;
}

img {
    width: 100%;
}

#SMuperNav {

    display: none;
}

#SMmidNav {
    display: none;
}





#SMdownNav {
    display: flex;
    background-color: rgb(241, 241, 241);
    height: 40px;
    position: sticky;
    z-index: 10000;
    top: 0px;
    justify-content: center;
    gap: 2%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

html,
body {
    overflow-x: hidden;
}

#slidBackground {

    overflow: hidden;
    width: 100%;
    margin: auto;
    height: 90vh;

}

.slidimgDiv {

    position: absolute;
    width: 100%;
    transform: translateX(-100%);

    transition: transform 550ms;
}



.midBodyy {
    width: 75%;

    margin: auto;
    margin-top: 100px;
}

img {
    width: 100%;
}

#symbolCompany {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;

}

.menWomenKidSection {
    display: grid;
    width: 100%;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

#searchDiv {
    width: 49%;
    display: flex;
    align-items: center;
}

.EightDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.TopBrands {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    margin-bottom: 65px;
}

#footer {
    width: 100%;
    
    padding-top: 30px;
    background-color: #010156;
}

#uperFooter {
    width: 90%;

    display: flex;
    gap: 5px;
    margin: auto;
    background-color: #010156;
}

#Fleft {
    width: 60%;

    display: flex;
    gap: 10px;
    background-color:  #010156;
}

#Fright {

    width: 40%;
    background-color:  #010156;
}

ul {

    list-style-type: none;
    margin-left: 5%;
}

ul li {
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
    color: white;
}

h4 {
    text-align: left;
    color: white;
}

hr {
    display: block;
    margin: auto;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;

}

p {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

#SMfooter {
    display: none;
}


#dropdown {
    display: none;
}

#dropdown2 {
    display: none;
}

#dropdown3 {
    display: none;
}

#dropdown4 {
    display: none;
}

#dropdown5 {
    display: none;
}

#dropdown6 {
    display: none;
}

#dropdown7 {
    display: none;
}

#dropdown8 {
    display: none;
}

#dropdown9 {
    display: none;
}

#dropdown10 {
    display: none;
}

#dropdown11 {
    display: none;
}

.prem:hover #dropdown {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.prem2:hover #dropdown2 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.prem3:hover #dropdown3 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.prem4:hover #dropdown4 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.prem5:hover #dropdown5 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.prem6:hover #dropdown6 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.prem7:hover #dropdown7 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.prem8:hover #dropdown8 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;

}

.prem9:hover #dropdown9 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.prem10:hover #dropdown10 {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;

}

.prem11:hover #dropdown11 {
    display: block;
    position: absolute;
    left: 0;
    width: 100px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.catagary {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 10px;

}

.prem:hover,
.prem2:hover,
.prem3:hover,
.prem4:hover,
.prem5:hover,
.prem6:hover,
.prem7:hover,
.prem8:hover,
.prem9:hover,
.prem10:hover,
.prem11:hover {
    cursor: pointer;
}

.prem,
.prem2,
.prem3,
.prem4,
.prem5,
.prem6,
.prem7,
.prem8,
.prem9,
.prem10,
.prem11 {
    font-size: 15px;
}

#cloth {
    display: flex;
    flex-direction: column;
    width: 40%;

    padding-top: 10px;
    align-items: center;
}

#produc {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ACCESSORIESandFOOTWEAR {
    width: 20%;

    padding-top: 10px;
}

#inproduc {
    display: flex;

    width: 40%;
    justify-content: space-around;
}

.hatsAndShoesProduc {

    width: 20%;
}

.productTitle li {
    text-decoration: none;
    list-style: none;
    margin-top: 10px;

}

@media screen and (max-width:600px) {
    body {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    html,
    body {
        overflow-x: hidden;
    }

    #transPrance {
        width: 100%;
        height: 10000px;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: none;
        z-index: 50;
    }

    .menWomenKidSection {
        grid-template-columns: repeat(1, 1fr);
    }


    #SMuperNav {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:  #010156;
        height: 29px;

    }

    #SMleft {
        color: white;
        margin-left: 10px;

    }

    .findStore {
        color: white;
        margin-right: 10px;
    }

    #SMmidNav {
        background-color:  dodgerblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    #SMimg {
        width: 35%;
        margin-left: 45px;
    }

    .cartAnduserLogo {
        width: 40px;
        height: 40px;
        background-color: white;
        border: 0.3px solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #SMrigthMidNav {
        display: flex;
        margin-right: 15px;
        gap: 15px;
    }

    .smUserLogoIMG {
        width: 20px;
    }

    #uperNav,
    #midNav {
        display: none;
    }

    html,
    body {
        overflow-x: hidden;
    }

    #sidebar {
        height: 100%;
        position: fixed;
        z-index: 100;
        left: 0px;
        top: 0;
        width: 250px;

        background-color: white;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
    }

    .spinner {
        height: 3px;
        background-color: black;
        transition: all 0.3s;
    }

    .spinner.middle,
    .spinner.bottom {
        margin-top: 3px;
    }

    .tBTN {
        width: 20px;
        height: 20px;

        position: absolute;
        top: 45px;
        left: 15px;
        cursor: pointer;
    }

    #opensidebar {
        position: absolute;
        left: -20px;
    }

    .menue {
        list-style: none;
        padding: 0;
        margin: 0;

    }

    .menue li {
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    .menue li a {
        color: black;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px;
    }

    #SMdownNav {
        display: none;
    }

    #slidBackground {
        position: relative;
        overflow: auto;
        width: 100%;
        margin: auto;
        height: 25vh;

    }

    .midBodyy {
        width: 95%;
        margin: auto;
        margin-top: 30px;
    }

    #symbolCompany {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .EightDiv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #footer {
        display: none;
    }

    #SMfooter {
        display: block;
        background-color:  #010156;
        width: 100%;
    }

    #inSMfooter {
        width: 99%;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #SMinputForsubscribe {
        width: 100%;

        display: flex;
        justify-content: center;
        height: 40px;
    }

    #SMinputForsubscribe input,
    button {
        border: 0.5px solid white;
        background-color:  #010156;



    }

    #SMinputForsubscribe input {
        width: 60%;
        color: white;

    }

    #SMinputForsubscribe button {
        width: 30%;
        background-color:  #010156;
        color: white;

    }

    #sUfE {
        margin-left: 17px;
        margin-bottom: 10px;
    }

    #SMfooterSocialIcon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;

    }

    .fa-facebook-f,
    .fa-twitter,
    .fa-instagram,
    .fa-youtube {
        color: white;
        margin-top: 25px;
        font-size: 25px;
    }

    hr {
        color: white;
    }

    #inSMfooter select {
        border: 1px solid white;
        width: 93%;
        margin: auto;
        display: block;
        height: 40px;
        background-color:  #010156;
        color: white;
        border: none;
        font-size: 15px;
    }


}